Repository leewardbound/fanout: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-file-ownership, isort, black, flake8, mypy, pytest, pytest-cov

.pre-commit-config.yaml:

repos:
    - repo: local
      hooks:
          - id: fix-file-ownership
            name: fix-file-ownership
            stages: [commit]
            language: system
            entry: bin/fix-file-ownership
            require_serial: true
            pass_filenames: false
            types: [python]

          - id: isort
            name: isort
            stages: [commit]
            language: system
            entry: pipenv run isort fanout
            require_serial: true
            pass_filenames: false
            types: [python]

          - id: black
            name: black
            stages: [commit]
            language: system
            entry: make format
            require_serial: true
            pass_filenames: false
            types: [python]

          - id: flake8
            name: flake8
            stages: [commit]
            language: system
            entry: pipenv run flake8
            require_serial: true
            types: [python]
            exclude: setup.py

          - id: mypy
            name: mypy
            stages: [commit]
            language: system
            entry: make mypy
            require_serial: true
            types: [python]
            pass_filenames: false

          - id: pytest
            name: pytest
            stages: [commit]
            language: system
            entry: make test
            require_serial: true
            pass_filenames: false
            types: [python]

          - id: pytest-cov
            name: pytest
            stages: [push]
            language: system
            entry: pipenv run pytest --cov --cov-fail-under=100
            types: [python]
            require_serial: true
            pass_filenames: false

feat: pre-commit hooks
  .pre-commit-config.yaml
  Makefile
  bin/git-pre-commit
  fanout/apps/content/tests/test_models.py
Due: fix-file-ownership, isort, black, flake8, mypy, pytest, pytest-cov

ci: pipeline
  .gitlab-ci.yml
  bin/build
  bin/k8s.deploy
  bin/k8s.template
  bin/push
  setup.cfg
Due: none

ci: pipeline
  .gitlab-ci.yml
Due: none

ci: pipeline
  Makefile
  bin/git-pre-commit
  fanout/settings/__init__.py
Due: fix-file-ownership, isort, black, flake8, mypy, pytest, pytest-cov

ci: pipeline
  .envrc
  .gitlab-ci.yml
Due: none

feat: redis and CI and celery
  Pipfile
  Pipfile.lock
  asgi.py
  compose/django/asgi.sh
  fanout/settings/project.py
Due: fix-file-ownership, isort, black, flake8, mypy, pytest, pytest-cov

feat: redis and CI and celery
  Dockerfile
Due: none

feat: channels
  Pipfile
  Pipfile.lock
Due: none

feat: channels
  asgi.py
Due: fix-file-ownership, isort, black, flake8, mypy, pytest, pytest-cov

feat: channels
  Pipfile
  Pipfile.lock
  fanout/settings/project.py
  fanout/settings/routing.py
Due: fix-file-ownership, isort, black, flake8, mypy, pytest, pytest-cov

feat: contact us form
  .envrc
  fanout/apps/customers/models.py
  fixtures/demo/boundcorp.json
Due: fix-file-ownership, isort, black, flake8, mypy, pytest, pytest-cov

feat: contact us form
  .envrc
  fanout/apps/customers/schema/mutations.py
Due: fix-file-ownership, isort, black, flake8, mypy, pytest, pytest-cov

feat: contact us form
  fanout/apps/customers/schema/mutations.py
Due: fix-file-ownership, isort, black, flake8, mypy, pytest, pytest-cov

ci: deploy backend
  Pipfile.lock
Due: none

ci: bump
  .gitlab-ci.yml
Due: none

ci: git-crypt for secrets
  .git-crypt/.gitattributes
  .git-crypt/keys/default/0/8E6D1FDB25758D46EC6EA25CC0F88A909C9FAD91.gpg
  .gitattributes
  .secrets.env
  fanout/apps/content/models.py
Due: fix-file-ownership, isort, black, flake8, mypy, pytest, pytest-cov

ci: git-crypt for secrets
  bin/git-pre-commit
  fanout/apps/content/models.py
Due: fix-file-ownership, isort, black, flake8, mypy, pytest, pytest-cov

ci: git-crypt for secrets
  bin/git-pre-commit
  fanout/apps/content/models.py
  fixtures/demo/boundcorp.json
Due: fix-file-ownership, isort, black, flake8, mypy, pytest, pytest-cov

fix: setup.cfg package_dir source directories
  pyproject.toml
Due: none

fix: setup.cfg package_dir source directories
  setup.py
Due: fix-file-ownership, isort, black, mypy, pytest, pytest-cov

fix: setup.cfg package_dir source directories
  pyproject.toml
  setup.py
Due: fix-file-ownership, isort, black, mypy, pytest, pytest-cov

wip: medialibrary
  .gitignore
  Dockerfile
  Makefile
  Pipfile
  Pipfile.lock
  bin/build
  bin/git-pre-commit
  compose/build.yml
  compose/dev.yml
  compose/django/Dockerfile
  compose/minio/Dockerfile
  deploy/chart/Chart.lock
  deploy/dev.values.yaml
  fanout/apps/content/schema/mutations.py
  fanout/apps/federation/factories.py
  fanout/apps/federation/migrations/0002_auto_20220623_0320.py
  fanout/apps/federation/models.py
  fanout/apps/users/admin.py
  fanout/apps/users/migrations/0002_medialibrary_medialibraryfile.py
  fanout/apps/users/models.py
  fanout/apps/utils/views/health.py
  fanout/constants.py
  fanout/settings/project.py
  fanout/settings/routing.py
Due: fix-file-ownership, isort, black, flake8, mypy, pytest, pytest-cov

wip: medialibrary
  .gitignore
  Dockerfile
  Makefile
  Pipfile
  Pipfile.lock
  bin/build
  bin/git-pre-commit
  compose/build.yml
  compose/dev.yml
  compose/django/Dockerfile
  compose/minio/Dockerfile
  deploy/chart/Chart.lock
  deploy/dev.values.yaml
  fanout/apps/content/migrations/0002_auto_20221004_1726.py
  fanout/apps/content/schema/mutations.py
  fanout/apps/content/tests/test_models.py
  fanout/apps/customers/admin.py
  fanout/apps/customers/migrations/0002_auto_20221004_1726.py
  fanout/apps/customers/models.py
  fanout/apps/federation/factories.py
  fanout/apps/federation/migrations/0002_auto_20220623_0320.py
  fanout/apps/federation/migrations/0004_auto_20221004_1740.py
  fanout/apps/federation/models.py
  fanout/apps/users/admin.py
  fanout/apps/users/migrations/0002_medialibrary_medialibraryfile.py
  fanout/apps/users/models.py
  fanout/apps/utils/models.py
  fanout/apps/utils/views/health.py
  fanout/constants.py
  fanout/settings/project.py
  fanout/settings/routing.py
  schema.json
Due: fix-file-ownership, isort, black, flake8, mypy, pytest, pytest-cov

refactor: fanout
  frontend/generated/graphql.tsx
  schema.graphql
Due: none

ops: wip deploy
  Dockerfile
  Pipfile.lock
  helm-values.staging.secrets.yaml
  requirements.freeze.txt
Due: none

ops: wip deploy
  fixtures/empty.txt
  helm-values.staging.secrets.yaml
Due: none
